*          text=auto

*.rs       text diff=rust
*.toml     text diff=toml
Cargo.lock text

*.png      binary
*.jpg      binary
*.jpeg     binary
*.svg      binary
*.ico      binary

*.lock     text eol=lf
