node_modules/
dist/
build/
out/

src-tauri/target/
src-tauri/tauri.conf.json

pnpm-lock.yaml
**/*.lock

.turbo
.eslintcache

.gitignore
.github
.eslintignore
.nvmrc
.prettierignore
LICENSE


public/
static/
**/*.png
**/*.jpg
**/*.jpeg
**/*.gif
**/*.svg
**/*.ico
