node_modules/
dist/
build/
out/

src-tauri/target/
src-tauri/tauri.conf.json

.pnp.cjs
.pnp.loader.mjs
pnpm-lock.yaml
yarn.lock
package-lock.json
**/*.lock

# Исключаем статические ассеты
public/
static/
**/*.png
**/*.jpg
**/*.jpeg
**/*.gif
**/*.svg
**/*.ico
