@import "tailwindcss";
@import "../../../../packages/ui/theme.css";
@layer components {
  .container {
    box-shadow: var(--shadow);
    width: 305px;
    height: 400px;
    padding: 0 10px;
  }
  .clip-elements {
    @apply display-flex-col w-auto mt-2 overflow-y-auto text-start;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  .clip-element {
    @apply display-flex-row transition-all rounded-sm bg-clip-background pt-2.5 px-6 pb-9 mt-0.5 mx-0.5 mb-3.5 hover:shadow-sm hover:shadow-slate-500;
    /* INFO: min-width 300px, min-height 380px */
    /* INFO: max-width 310px, max-height 385px */

    &> * {
      @apply bg-clip-background;
    }
  }
}

@utility display-flex-col {
  @apply flex flex-col;
}
@utility display-flex-row {
  @apply flex flex-row;
}
