@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    @apply bg-background;
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #0f0f0f;
    border: 0.5px solid black;
    border-radius: 8px;
    width: 19em;
    height: 24em;
  }

  .clip-element {
    height: 3em;
    width: auto;
    border: 0.5px solid black;
    border-radius: 0.2em;
    margin: 7px 10px;
    padding: 0 8;
    @apply bg-background;
    /* background-color: bisque; */
    /* INFO: min-width 300px, min-height 380px */
    /* INFO: max-width 310px, max-height 385px */
  }
  .container {
    margin: 0;
    padding-top: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
}